.logOut-button {
    margin-top: 0;
    font-family: 'Montserrat',
        sans-serif;
    background: #6ddccf;
    background-color: #6ddccf;
    border-radius: 23px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 20px;
    text-decoration: none;
    margin-right: -5px;
}