.logOut-button {
    margin-top: 80vh;
    /* box-shadow: 0px 10px 14px -4px #276873;*/
    font-family: 'Montserrat',
        sans-serif;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color: #599bb3;
    border-radius: 23px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 13px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
    margin-right: -5px;
}