.container-send {
    width: 70%;
}


.sendMessage-input {
    font-family: 'Montserrat',
        sans-serif;
    grid-column-start: 2;
    padding: 8px;
    font-size: 13px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    box-shadow: 0px 0px 9px rgba(66, 66, 66, .75);
    text-shadow: 0px 0px 0px rgba(66, 66, 66, .75);
    resize: vertical;
    margin-top: 20px;
    width: 100%;
}


.sendMessage-input:focus {
    outline: none;
}



input[type=text],
select,
textarea {
    width: 70%;
}

.container-send-phone {
    width: 100%
}

.sendMessage-phone {
    display: flex;
    height: 100%;
}

.button-send-mobile {
    background-color: #6ddccf;
    width: 25%;
    height: 100%;
}

.arrow {
    width: 80%;
    margin-left: 10px;
}

@media only screen and (max-width: 768px) {

    input[type=text],
    select,
    textarea {
        height: 93%;
        width: 75%;

    }

}