.container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.box {
    font-family: 'Montserrat',
        sans-serif;
    margin-top: 5em;
    padding: 10px;
    background-color: #6ddccf;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.input-field {
    font-family: 'Montserrat',
        sans-serif;
    padding: 10px;
    font-size: 17px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 23px;
    box-shadow: 0px 0px 9px rgba(66, 66, 66, .75);
    text-shadow: 0px 0px 0px rgba(66, 66, 66, .75);
}

.input-field:focus {
    outline: none;
}

.button-send {
    margin-top: 10px;
    /* box-shadow: 0px 10px 14px -4px #276873;*/
    font-family: 'Montserrat',
        sans-serif;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color: #599bb3;
    border-radius: 23px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    padding: 13px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
    margin-right: -5px;
}

.button-send:hover {
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color: #408c99;
}

.button-send:active {
    position: relative;
    top: 1px;
}