body,
html {
    margin: 0
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.data-container {
    display: flex;
    justify-content: center;
    width: 100%
}

.message-container {
    font-family: 'Montserrat',
        sans-serif;
    grid-column-end: 3;
    background-color: white;
    border-color: #CCCCCC;
    box-shadow: 0px 0px 9px rgba(66, 66, 66, .75);
    width: 80%;
    height: 80vh;
    border-style: solid;
    margin-top: 1em;

    padding: 10px;
    overflow: scroll;
    overflow-x: hidden;

}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.users {
    grid-column-start: 3;
    grid-row-start: 1;
    font-family: 'Montserrat',
        sans-serif;
    line-height: 1.6;
    background-color: #6ddccf;
    border-color: #CCCCCC;
    box-shadow: 0px 0px 9px rgba(66, 66, 66, .75);
    width: 50%;
    max-width: 50em;
    min-width: 150px;
    height: 70vh;
    border-style: solid;
    margin-top: 1em;
    padding: 10px;
    overflow: auto;
}

.logOutNow {
    display: flex;
    justify-content: center;
    background-color: #6ddccf;
    margin: 0;
    padding: 0;
    width: 100%
}

@media only screen and (max-width: 768px) {

    .message-container {
        width: 100%;
        margin-top: 0;
        border-color: white;
    }

    .input {
        height: 12vh;
        background-color: black;
    }

}